@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: Quicksand;
}
img{
    width:100%;
}
.btn-verde-personalizado{
    background-color: #728F7D !important; 
    border-radius: 60px !important;
    color: white !important;
}
.navbar-nav{
    text-align: center !important;
    justify-content: center !important;
}
.titulo-principal{
    margin-top: 200px;
}